#Data Science Tools and Ecosystem

###In this notebook, Data Science Tools and Ecosystem are summarized

###Objectives
- List popular languages used by Data Scientists
- List commmonly used libraries by data scientists
- List data science tools used by data scientists
- Practice writing and executing codes for basic arithmetic

###Some of the popular languages that Data Scientist use are:
1. R
2. Python
3. Java
4. SQL

###Some of the commonly used libraries used by data scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learning
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|Spyder|

###Below are a few examples of evaluating arithmetic expressions in python

In [1]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
minutes=200
minutes/60

3.3333333333333335

##Author
Anne Karla M. Navarro